<div class='small-2 column' id='content'>
  <%= form_tag queue_logs_path, method: 'get' do %>
    <label>Data Inicial</label>
    <%= date_field_tag :datainicial, params[:datainicial] %>
    <label>Data Final</label>
    <%= date_field_tag :datafinal, params[:datafinal] %>
    <label>Fila</label>
    <%= text_field_tag :queue, params[:queue] %>
    <label>Agente</label>
    <%= text_field_tag :agent, params[:agent] %>
    <label>ID da ligação</label>
    <%= text_field_tag :callid, params[:callid] %>
    <%= submit_tag "Buscar", name: nil, class: "button [secondary success alert]" %>
  <% end %>

  <% if params[:datainicial].present? && params[:datafinal].present? %>
    <p>
      Download:
      <%= link_to "Excel", url_for(format: "xls", params: params) %>
    </p>
  <% end %>
</div>

<div class='small-8 column' id='content'>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Tempo</th>
        <th>Faixa de horário</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @queue_logs.group_by(&:callid).each do |callid, records| %>
        <% info = CallInfo.new(records) %>
        <tr style="font-weight: bold">
          <td><%= callid %></td>
          <td><%= info.start_call.strftime("%d-%m-%Y - %H:%M:%S") %></td>
          <td><%= info.end_call.strftime("%d-%m-%Y - %H:%M:%S") %></td>
          <td><%= info.total_time %></td>
          <td><%= info.time_range %></td>
          <td><%= link_to "audio", info.file %></td>
        </tr>
        <tr>
          <td colspan="6"><%= raw info.history %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @callids, previous_label: 'Próx', next_label: 'Ant' %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    function setDate(field) {
      var input = $('#' + field);

      if (input.val() === '') {
        input.val('<%= Date.current.to_s %>');
      }
    }

    setDate('datainicial');
    setDate('datafinal');
  });
</script>
