<div class='small-2 column' id='content'>
  <%= form_tag queue_logs_path, method: 'get' do %>
    <label>Data Inicial</label>
      <%= date_field_tag :datainicial, params[:datainicial] %>
    <label>Data Final</label>
      <%= date_field_tag :datafinal, params[:datafinal] %>
      <%= submit_tag "Buscar", name: nil, class: "button [secondary success alert]" %>
  <% end %>

 <% unless params[:datainicial].blank? %>
    <p>
      Download:
        <%= link_to "Excel", queue_logs_path(format: "xls" , 
        datainicial: params[:datainicial], datafinal: params[:datafinal] )  %>
    </p>
 <% end %>
</div>



<div class='small-8 column' id='content'>
  <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Tempo Fila</th>
          <th>Tempo Agente</th>
          <th>Faixa de horário</th>
          <th>Fila Chamada</th>
          <th>Agente</th>
          <th>Evento</th>
          <th>Origem</th>
          <th> </th>
        </tr> 
      </thead>

      <tbody>
       <% @queue_logs.each do |t| %>
          <tr>
            <td><%= t.time.to_datetime.strftime("%d-%m-%Y - %H:%M:%S" ) %></td>
            <td><%= Time.at(t.tempofila.to_i).utc.strftime("%H:%M:%S")  %></td>
            <td><%= Time.at(t.tempoagente.to_i).utc.strftime("%H:%M:%S") %></td>
            <td><%= CodigosHelper.range_hour(t.time.to_datetime.strftime("%H"))%></td>
            <td><%= CodigosHelper.queue_name(t.queuename) %></td>
            <td><%= t.agent %></td>
            <td><%= t.status(t.event) %></td>
            <td><%= t.origem %></td>
            <td><%= link_to "audio", "http://192.168.1.70/gravacoes/monitor/q#{t.queuename}-#{t.time.to_datetime.strftime('%Y%m%d')}-#{t.time.to_datetime.utc.strftime('%H%M')}-#{t.callid}.gsm" %></td>        
          </tr>
        <% end %>
      </tbody>
  </table>
  <%= will_paginate @queue_logs, previous_label: 'Próx', next_label: 'Ant' %>
</div>
