<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="header">
      <Font ss:Size="10" ss:Bold="1"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="header"><Data ss:Type="String">Código</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Início/Data</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Início/Hora</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Fim/Data</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Fim/Hora</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Último status</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Última fila</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Último agente</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Tempo chamada</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Tempo total</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Faixa de Horário</Data></Cell>
        <Cell ss:StyleID="header"><Data ss:Type="String">Arquivo</Data></Cell>
      </Row>

      <Row></Row>
      <% @queue_logs.group_by(&:callid).each do |callid, records| %>
        <Row>
          <% info = CallInfo.new(records) %>
          <Cell><Data ss:Type="String"><%= callid %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.start_call.strftime("%d/%m/%Y") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.start_call.strftime("%H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.end_call.strftime("%d/%m/%Y") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.end_call.strftime("%H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.last_status %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.last_queue %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.last_agent %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.in_call_time %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.total_time %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.time_range %></Data></Cell>
          <Cell><Data ss:Type="String"><%= info.file %></Data></Cell>
        </Row>
        <% info.history.split('<br>').each do |desc| %>
          <Row>
            <Cell ss:MergeAcross="11">
              <Data ss:Type="String"><%= desc %></Data>
            </Cell>
          </Row>
        <% end %>
        <Row></Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
